/*! Oreset.css v2.0.0 | MIT License | https://github.com/hirosiva/Oreset.css */

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font: inherit;
  cursor: pointer;
  background: none;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}
html{
  color:#ffffff;
}
.message-kuu .message-text{
  transform:translateX(-20px);
 }
 .message-nami .message-text{
  transform:translateX(20px);
 }
 .message-text{
  opacity:0;
  transition:opacity .6s cubic-bezier(0.33, 1, 0.68, 1) .6s, transform .6s cubic-bezier(0.33, 1, 0.68, 1) .6s;
 }
 .detail-visible .message-kuu .message-text,
 .detail-visible .message-nami .message-text{
  opacity:1;
  transform:translateX(0);
}
.message-icon{
  opacity:0;
  transition:opacity .6s cubic-bezier(0.33, 1, 0.68, 1) .6s, transform .6s cubic-bezier(0.33, 1, 0.68, 1) .6s;
  transform:translateY(20px);
}
 .detail-visible .message-icon{
  opacity:1;
  transform:translateY(0);
}
