---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Astro テンプレート">
  <div id="webgl"></div>
</Layout>

<script></script>

<style>
  body {
    margin: 0;
    overflow: hidden;
  }

  #webgl {
    width: 100vw;
    height: 100vh;
  }

  #webgl canvas {
    display: block;
  }
</style>
