---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Astro テンプレート" transitionColors={["#dddddd", "#000000", "#ffffff"]}>
  <div id="webgl"></div>
  <button id="camera-move-btn">カメラ移動</button>
  <button id="camera-reset-btn">元に戻る</button>
</Layout>

<style>
  #camera-move-btn {
    position: fixed;
    top: 20px;
    left: 20px;
  }
  #camera-reset-btn {
    position: fixed;
    top: 60px;
    left: 20px;
  }
  body {
    margin: 0;
    overflow: hidden;
  }

  #webgl {
    width: 100vw;
    height: 100vh;
  }

  #webgl canvas {
    display: block;
  }
</style>
